@font-face {
  font-family: 'Minecraftia';
  src: url(fonts/Minecraftia-Regular.ttf);
}
.logo {
  text-align: center;
  width: 130px;
  display: block;
  margin: 0 auto;
}

.image-container {
  position:relative;
  height: auto;
  width: 100%;
}

.courses-image {
  width: 140px;
  position: absolute;
  top: 10px;
  left: 95px;
}

p {
  text-align: center;
  font-size: 15px;
}


.todolist-image {
  width: 140px;
  position: absolute; 
  top: 65px;
  left: 95px;
  display: block;
  margin: 0 auto;
}

.gradecalculator-image {
  width: 175px;
  position: absolute;
  top: 120px;
  left: 76px;
  display: block;
  margin: 0 auto;
}

body {
  font-family: 'Segoe UI', Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#page-title{
  font-family: 'Minecraftia';
}

#course-container a {
  transition: transform 0.2s ease, box-shadow 0.4s ease;
  display: inline-block;
  padding: 8px 12px;
  background-color: #f2f2f2;
  border-radius: 6px;
  text-decoration: none;
  color: black;
}

#course-container a:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #e0e0e0;
}

h2 {
  text-align: center;
  font-size: 20px;
}

a {
  display: inline-block;
  text-align: center;
  padding: 2px;
}

.container {
  margin-top: 20px;
  width: 90%;
  max-width: 600px;
}

.to-do-app {
  width: 80%;
  background: #eeeded;
  margin:  auto 20px;
  padding: 30px 30px 50px;
  border-radius: 10px;
}
.to-do-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: left;
  justify-content: space-between;
  background: #ffffffd1;
  border-radius: 30px;
  padding-left: 0px;
  margin-bottom: 25px;
  
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

ul#list-container {
  padding-left: 0;  
  margin-left: 0;    
  text-align: center;
}

ul li{
  list-style-type: disc;
  margin-left: 10px;
  list-style: disc;
  list-style-position: inside;
  position: relative;
  align-items: center;
  justify-content: space-between; 
  border-radius:30px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius:50%;
}

ul li.checked {
  color: #555;
  background-size: cover;
  background-position: center;
}


ul li.checked::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1.5px;
  background: #555;
  transform: translateY(-50%);
  pointer-events: none;
}

ul li span{
  position: static;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  margin-left: 10px;
}

ul li span:hover {
  background: #edeef0;
}

#list-container li {
  background: #dcd9d9;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 20px;
}

#addbutton {
  padding: 10px 30px;
  border-radius: 30px;  
  border: none;
  background-color: #bec3bf;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

#addbutton:hover {
  background-color:#adb3af;
}

#backbutton {
  padding: 20px;
  margin-top: 5px;
}

.weight {
  width: 55px;
}

#rowbutton {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(250, 235, 235);
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color:#b39494
}

#calculatebutton {
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: rgb(250, 235, 235);
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color:#b39494
}

#clearbutton {
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: rgb(250, 235, 235);
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color:#b39494
}

#backto {
  text-decoration: none;
  color: black;
}

#backto:hover {
  color:#555
}

#timer-display {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
}

#task-input {
  background-color: #efeeee;
  border-radius: 20px;
  margin-bottom: 10px;
}

#date-input {
  background-color:#efeeee;
  border-radius: 20px;
  margin-bottom: 10px;
}

#add-task-btn {
  display: block;
  margin: 0 auto;
}

#coursesbutton {
  background-color: #d9d5d5;
  border-color:#d8d5d5;
  padding: 2px;
}

#courseInput {
  background-color: #e4e4e4;
  border-radius: 20px;
}

.delete-course {
  color: rgb(137, 129, 129);
  font-weight: bold;
  margin-left: 2px;
}

#timer-controls1 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

#start-btn,#stop-btn {
  display: inline-block;
}

#timer-controls2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
  padding: 0;
}

#reset-btn, #add-time-btn {
  display: inline-block;
}

#task-list {
  background-color:#fdf3f3;
  padding: 10px;
  border-radius: 10px;
  border:  1px solid #f7dada;
  
}

.deleteBtn:hover {
  background-color: #716767;
}

#course-title {
  font-size: 20px;
  color: #c3c3f7 ;
  text-align: center; 
  font-weight: bold; 
  margin-bottom: 20px;
} 

#timer-display {
 color: #c3c3f7;
 
}

.center-link {
  text-align: center;
  margin-top: 10px
}

.title {
  font-family: 'Minecraftia';
}

#colorSelect {
  border-radius: 15px;
  padding: 7px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #dbdbdb;
}
